{% extends "base.html" %}
{% block content %}
<h2>Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.user_role }}</td>
            <td>{{ user.rating }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}